DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=username
DB_PASSWORD=pass

LANGFUSE_HOST=http://localhost:3000
LANGFUSE_SECRET_KEY=sk-lf-dadada
LANGFUSE_PUBLIC_KEY=pk-lf-dadada

OPENROUTER_API_KEY=sk-or-v1-dadada
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1

LMSTUDIO_BASE_URL=http://localhost:12345/v1
LMSTUDIO_API_KEY=lm-studio
LMSTUDIO_MODEL_NAME=qwen3-30b-a3b-mixed-3
LMSTUDIO_SMART_MODEL_NAME=gemma-3-text-27b-it
LMSTUDIO_FAST_LLM_MODEL_NAME=qwen3-1.7b-mlx